* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* this where body starts */
body {
    background-color: #d9dcd6;
}

/* this is where header starts */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* this line sets the headers font and display */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* this changes the color of words seo in the header */
.header h1 .seo {
    color: #d9dcd6;
}

/*  this is to float the links on the nav bar to right and make it look good */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* this line supposed to remove the list styles like square or dots next to the links but even taking this line off doesn't make a change */
/* .header nav ul {
    list-style-type: none;
} */


/* this line keeps the links on the nav next to each other */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* this is for the links, changing their color and removing the underline */
a {
    color: #ffffff;
    text-decoration: none;
}

/* this one sets the font sizes for all the paragraphs */
p {
    font-size: 16px;
}

/* this is the main big image of the website */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* this is to set the margin for the 2 images and their float */
.float-left {
    float: left;
    margin-right: 25px;
}

/* this one is the one image on the right, this sets float and margin size */
.float-right {
    float: right;
    margin-left: 25px;
}

/* this line sets the width margin and display for entire main */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* this one is for the last section, the right side */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* took all the benefit brand+lead+cost and replaced with aside tag */
aside {
    margin-bottom: 32px;
    color: #ffffff;
}


/* replaced all 3 h3 tags with aside h3 instead */
aside h3 {
    margin-top: 10px;
    text-align: center;
}

/* replaced all 3 lines of code img with aside img */
aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* removed huge 3 lines of codes with simple one mainContent */
.mainContent {
   margin-bottom: 20px;
   padding: 50px;
   height: 300px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background-color: #0072bb;
   color: #ffffff; 
}

/* replaced all 3 lines of codes with maincontent img */
.mainContent img {
    max-height: 200px;
}

/* replaced 3 lines of code with maincontent h2 */
.mainContent h2 {
    margin-bottom: 20px;
    font-size: 36px; 
}

/* with mainContent i replaced all 9 lines of code with 3 simple ones doing same job */

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
